<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="content-rating">
        <rating [(ngModel)]="rate" 
            readOnly="false"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"
            (ngModelChange)="onRatingChange($event)">
        </rating>
    </div>

    <button *ngIf="modal.id === 1" (click)="search()" ion-button block>
        Escolher linha de ônibus
    </button>

    <button *ngIf="modal.id === 3" (click)="search()" ion-button block>
        Escolher aplicativo
    </button>
    <!-- <div *ngIf="modal.id === 1 && bus">
        <span><b>Linha Selecionada: </b> {{ bus.number }} - {{ bus.description }}</span>
    </div> -->

    <ion-card style="margin-left: 0; margin-right: 0; width: 100%;" *ngIf="modal.id === 1 && bus">
        <ion-card-content>
            {{ bus.label }}
        </ion-card-content>
    </ion-card>

    <ion-card style="margin-left: 0; margin-right: 0; width: 100%;" *ngIf="modal.id === 3 && app">
        <ion-card-content>
            <b>{{ app.description }}</b>

            <ion-list>
                <ion-item>
                    <ion-label floating>Nome do Motorista</ion-label>
                    <ion-input type="text" [(ngModel)]="appMotorista"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Placa do Veículo</ion-label>
                    <ion-input type="text" [(ngModel)]="appPlacaVeiculo"></ion-input>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <div style="margin-top: 10px;" *ngIf="modal.id === 2">
        <!-- <p>
            Número do Taxi
        </p> -->
        <ion-item>
            <ion-label floating>Número do Taxi</ion-label>
            <ion-input type="text" [(ngModel)]="taxiNumero"></ion-input>
        </ion-item>
    </div>

    <div style="margin-top: 30px;" *ngIf="rate !== 5">
        <p>
            Informe data e horario da ocorrência:
        </p>
        <ion-item>
            <ion-label>Data</ion-label>
            <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY" [(ngModel)]="ride_at"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora</ion-label>
            <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="HH:mm" [(ngModel)]="ride_at"></ion-datetime>
        </ion-item>
    </div>

    <div style="margin-top: 30px;" radio-group [(ngModel)]="modal_problem_id" *ngIf="rate !== 5">
        <p>
            Tipo de Problema:
        </p>
        <ion-item *ngFor="let modalProblem of modal?.modal_problems">
            <ion-label>{{ modalProblem.label }}</ion-label>
            <ion-radio [value]="modalProblem.id"></ion-radio>
        </ion-item>
    </div>

    <div style="margin-top: 30px;" *ngIf="rate !== 5">
        <p>
            Escreva suas observações:
        </p>
        <ion-item>
            <ion-textarea placeholder="Digite aqui..." [(ngModel)]="observations"></ion-textarea>
        </ion-item>
    </div>

    <div style="margin-top: 30px; margin-bottom: 20px;">
        <button (click)="goConfirm()" color="secondary" ion-button block [disabled]="!rate || !bus">
            Continuar
        </button>
    </div>
</ion-content>